body{
    height: 150vh;
    background: wheat;   
}
.container{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    background-color: #dd9292;
    box-shadow: rgba(209, 26, 26, 0.35) 0px 5px 15px;
}
.delete{
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.field{
    text-align: center;
}

.todos li{
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
input[type="text"]{
    color: rgb(240, 165, 165);
    border: 1ch;
    background-color: #e6e3e8;
    max-width: 400px;
}